h1 {
  font-size: 1.75em;
  font-weight: bold;
}

$breakpoint: 1180px;

.order-filter {
  &__header {
    mat-icon {
      margin-right: 8px;
    }

    @media screen and (min-width: $breakpoint) {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    width: 100%;

    @media screen and (min-width: $breakpoint) {
      padding-top: 20px;
      flex-direction: row;
    }
  }

  &__status {
    display: flex;
    flex-direction: column;

    &__checkboxes {
      display: flex;
      flex-direction: row;
    }
  }
}

.orders-table {
  padding: 18px 24px;
}

.no-results {
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &__icon {
    color: gray;
    font-size: 2.5em;
    width: 40px;
    height: 40px;
  }

  &__main-text {
    color: darkblue;
    font-size: 2em;
  }
}
